ul, ol {
	margin: 0 0 1rem 1rem;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	padding:0 0 0 1.5rem;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1rem;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
