/*=============================================>>>>>
= Admin Stylesheet =
===============================================>>>>>*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";

.wp-admin {
	.acf-image-uploader img {
		max-height:350px !important;
		width:auto;
		@include object-fit(contain);
		max-width:100%;
	}
} // wp-admin


/*= End of Admin Stylesheet =*/
/*=============================================<<<<<*/