/*--------------------------------------------------------------
## Site Layout
--------------------------------------------------------------*/

body{
  width:$size__site-main;
  max-width:$size__site-max;
  margin:0 auto;
}

// Flexbox sticky footer: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
.site {
	display:flex;
	min-height:100vh;
	flex-direction:column;
}

.site-content {
	flex:1;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
