/*--------------------------------------------------------------
## Site Layout
--------------------------------------------------------------*/

body {
  width:$size__site-main;
  max-width:$size__site-max;
  margin:0 auto;

  // flexbox sticky footer
  display:flex;
  min-height:100vh;
  flex-direction:column;
  justify-content:space-between;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
