.screen-reader-text {
    @include screen-reader-text;
}

.alignfull {
    @include alignfull;
}

.s-container,
.entry-content {
    max-width:var(--s-container);
    margin-left:auto;
    margin-right:auto;
    padding-left:var(--s-space);
    padding-right:var(--s-space);
}