.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $colour2;
	background: $colour2;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: $size__space / 2;

	&:hover {
		border-color: $colour1;
	}

	&:active,
	&:focus {
		border-color: $colour2;
	}
}